/* font-family: 'Bebas'; */
@font-face {
    font-family: 'Bebas';
    src: url('../fonts/Bebas/Bebas.woff2') format('woff2'),
        url('../fonts/Bebas/Bebas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'Helvetica Neue'; */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue.woff2') format('woff2'),
        url('HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

