/* font-family: 'Bebas'; */
@font-face {
    font-family: 'Bebas';
    src: url('../fonts/Bebas/Bebas.woff2') format('woff2'),
        url('../fonts/Bebas/Bebas.woff') format('woff'),
        url('../fonts/Bebas/bebas.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'Helvetica Neue'; */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue/HelveticaNeue.woff2') format('woff2'),
        url('../fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'),
        url('../fonts/HelveticaNeue/HelveticaNeue.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    background: #fcfcfc url(../images/bg.png);
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.container {
    max-width: 960px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

/* ---Header--- */

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    font-family: 'Bebas', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.header__logo a {
    font-size: 36px;
    color: #e8603c;
}

.header__logo span {
    color: #f3af9d;
}

.header__menu {
    margin-top: 5px;
}

.header__menu li.active a,
.header__menu a:hover {
    color: #e8603c;
}

.header__menu li+li {
    margin-left: 25px;
}

.header__menu a {
    font-size: 16px;
    color: #b9b9b9;
    transition: all .3s linear;
}

.header__menu-btn {
    position: absolute;
    right: 0;
    margin-right: 10px;
    display: none;
}

.burger {
    width: 30px;
    height: 22px;
    cursor: pointer;
}

.burger__line {
    width: 100%;
    height: 4px;
    background-color: #e85f3c;
    position: absolute;
    left: 0;
    transition: all .4s linear;
}

.burger__line-first {
    top: 0;
}

.burger__line-second,
.burger__line-third {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line-fourth {
    bottom: 0;
}

.burger_active .burger__line-first,
.burger_active .burger__line-fourth {
    opacity: 0;
}

.burger_active .burger__line-second {
    transform: translateY(-50%) rotate(45deg);
    background-color: #e8603c;
}

.burger_active .burger__line-third {
    transform: translateY(-50%) rotate(-45deg);
    background-color: #e8603c;
}

/* ----Slider---- */

.slider {
    position: relative;
    overflow: hidden;
}

.slider__inner::before,
.slider__inner::after,
.footer__inner::before,
.footer__inner::after {
    content: '';
    background-color: rgba(232, 96, 60, .5);
    width: 100%;
    position: absolute;
    top: 0;
}

.slider__inner::before,
.slider__inner::after {
    height: 61px;
}

.slider__inner::before,
.footer__inner::before {
    left: 100%;
    margin-left: 10px;
}

.slider__inner::after,
.footer__inner::after {
    right: 100%;
    margin-right: 10px;
}

.slick-arrow::before {
    display: none;
}

.slick-arrow img {
    opacity: .8;
    height: 52px;
    width: 36px;
}

.slick-arrow:hover img {
    opacity: 1;
}

.slick-prev,
.slick-next {
    top: 157px;
    z-index: 1;
}

.slick-prev {
    left: 26px;
}

.slick-next {
    right: 38px;
}

.slider__item {
    min-height: 403px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.slider__item-content {
    width: 413px;
    background-color: rgba(232, 102, 60, .8);
    color: #fff;
    padding: 22px 28px 25px 18px;
    position: absolute;
    bottom: 32px;
    left: 36px;
}

.slider__item-title {
    font-family: 'Bebas', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.slider__item-text {
    line-height: 14px;
}

.slider-1 {
    background-image: url(../images/slider/img-1.jpg);
}

.slider-2 {
    background-image: url(../images/slider/img-2.jpg);
}

.slider-3 {
    background-image: url(../images/slider/img-3.jpg);
}

.slider-4 {
    background-image: url(../images/slider/img-4.jpg);
}

.slider-5 {
    background-image: url(../images/slider/img-5.jpg);
}

.slider-6 {
    background-image: url(../images/slider/img-6.jpg);
}


.slider__nav-item:hover {
    cursor: pointer;
}

.slider__nav-photo {
    width: 140px;
    height: 120px;
    margin-top: 17px;
}

.slick-slide:focus {
    outline: none;
}

.slider__nav .slick-slide+.slick-slide {
    margin-left: 20px;
}

/*---Portfolio---*/

.portfolio {
    margin: 39px 0 48px;
}

.portfolio__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio__item {
    width: 280px;
}

.portfolio__item-title {
    font-family: 'Bebas', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #e8663c;
    text-transform: uppercase;
    padding-left: 70px;
    position: relative;
}

.title-items::before,
.title-work::before,
.title-social::before {
    position: absolute;
    left: 2px;
    content: '';
}

.title-items::before {
    background-image: url(../images/portfolio/gear.svg);
    bottom: 0;
    width: 46px;
    height: 46px;
}

.title-work::before {
    background-image: url(../images/portfolio/check.svg);
    bottom: 2px;
    width: 49px;
    height: 41px;
}

.title-social::before {
    background-image: url(../images/portfolio/persone.svg);
    bottom: 4px;
    width: 42px;
    height: 40px;
}

.portfolio__item-text {
    line-height: 18px;
    color: #414141;
    padding: 34px 0 20px;
}

.portfolio__item-link {
    font-family: 'Bebas', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8663c;
    color: #fff;
    border: 1px solid transparent;
    text-transform: uppercase;
    width: 56px;
    height: 31px;
    transition: all .3s;
}

.portfolio__item-link:hover {
    background-color: #fff;
    color: #e8663c;
    border: 1px solid #e8663c;
}

/*--- Works--- */

.works {
    margin: 48px 0;
}

.works__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.works__item {
    overflow: hidden;
    line-height: 18px;
    font-family: 'Bebas', sans-serif;
    text-transform: uppercase;
    max-width: 220px;
}

.works__item-photo {
    height: 184px;
    overflow: hidden;
}

.works__item-photo img {
    height: 184px;
    width: 220px;
    transition: all .3s linear;
}

.works__item-photo img:hover {
    transform: scale(1.2);
}

.works__item+.works__item {
    margin-left: 20px;
}

.works__title {
    font-family: 'Bebas', sans-serif;
    font-size: 18px;
    color: #e8603c;
    margin-bottom: 24px;
    position: relative;
    background-image: url(../images/works/line.png);
}


.works__title span {
    display: inline-block;
    background-image: url(../images/bg.png);
    padding-right: 20px;
}

.works__item-content {
    border: 1px solid #dbdbdb;
    border-top: 0;
    padding-left: 13px;
    width: 220px;
}

.works__item-title a {
    font-size: 16px;
    color: #b9b9b9;
    margin-top: 13px;
    margin-bottom: 7px;
    transition: all .2s;
}

.works__item-title a:hover {
    color: #8a8787;
}

.works__item-date {
    font-size: 11px;
    color: #e8663c;
    padding-bottom: 15px;
    transition: all .2s;
}


/* ---Footer--- */

.footer {
    overflow: hidden;
}

.footer__inner::before,
.footer__inner::after {
    height: 100%;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 39px 41px 31px 35px;
    background-color: #e8663c;
    margin: 0 -10px;
    position: relative;
}

.footer__item-title {
    font-family: 'Bebas', sans-serif;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.footer__item-text {
    font-size: 12px;
    color: #fff;
    line-height: 14px;
}

.footer__item-text a {
    font-weight: 300;
    color: #f3b29d;
    transition: all .3s;
}

.footer__item-text a:hover {
    color: #eed6ce;
}

.footer__time-ago {
    color: #f3b29d;
    margin-top: 8px;
    margin-bottom: 19px;
}

.footer__about-jetro {
    width: 267px;
}

.footer__twitter-widget {
    width: 225px;
}

.footer__contact {
    width: 260px;
}

.footer__twitter-widget--bottom {
    margin-top: 21px;
}

.footer__phone {
    margin-bottom: 20px;
}

.footer__phone a {
    display: block;
    color: #fff;
    font-size: 12px;
    transition: all .3s;
}

.footer__phone a:hover {
    color: #eed6ce;
}

.footer__social {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.footer__social li {
    padding-right: 5px;
    transition: all .2s;
}

.footer__social li:hover {
    transform: scale(1.15);
}